

<div class="row">
  <div class="col-md-6">

      <form [formGroup]="rateForm"  (ngSubmit)="calculateRates()" class="form-horizontal">
          <div class="form-group">
              <label for="passengers" class="col-sm-2 control-label">N. Passengers</label>
              <div class="col-sm-10">
                  <select class="form-control" formControlName="passenger" name="passenger" id="passenger">     
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                  </select>
              </div>
          </div>
          <div class="form-group">
              <label for="name" class="col-sm-2 control-label">city</label>
              <input type="text" class="form-control" formControlName="city" name="city" id="city" required>
          </div>
          <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Date </label>
              <input type="date" class="form-control"  formControlName="date" name="date" id="date" required>
          </div>
          <div class="form-group">
              <label for="name" class="col-sm-2 control-label"> time</label>
              <input type="time" class="form-control"  formControlName="time" name="time" id="time" required>
          </div>
          <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Speep</label>
              <input type="number" class="form-control"  formControlName="speed" name="speed" id="speed" required> 
          </div>
          <div class="form-group">
              <label for="name" class="col-sm-2 control-label"> Distancia</label>
              <input type="number" class="form-control"  formControlName="miles" name="miles" id="miles" required>
          </div>

          <div class="form-group">
          
            <button  type="submit" name="submit" class="btn btn-success">Calculate</button>

          </div>
      </form>

  </div>
  <div class="col-md-6">
      Check rate
      <h1 class="text-center">{{resultRateApi}}</h1>  
  </div>
</div>
